Требования к html файлу:

1. Страница предназначена для студентов, которые изучают Python.

2. Файл html будет часто пересылаться по сети, поэтому должен быть легковесный.

3. Стили и скрипты подтягиваются с github pages (на время разработки файлы локальные).

4. Файлы html не хранят данные между сессиями. Это значит при обновлении страницы изменения не сохраняются.

5. Существует только 2 вида html файлов – теория и практика. Других видов быть больше не может.