Требования к html-practice:

1. Файл html состоит из секций задач, боковой панели и верхней панели.

2. Секции задач содержат заголовок (ровно 1 заголовок на секцию), описание задачи в виде параграфов и 1 блок песочницы, в которую можно вписать код и запустить проверку (автотесты). Результаты проверки отображаются в специальном блоке вывода, а статус задачи отображается в активном элементе боковой панели и верхней панели. Автотесты содержатся в открытом виде в html файле.

3. Параграфы могут содержать жирный, курсивный, подчёркнутый текст, inline код.

4. Описание задачи может содержать read-only блоки кодов, которые можно запустить или скопировать. Дополнительно может содержать блоки с важными моментами, подсказками, верными подходами, неверными подходами.

5. Боковая панель содержит элементы, при нажатии на которые отображают в главной части соответствующую секцию задачи. Элементы дублируют названия заголовков из секции задачи, отображают статус задачи – "В ожидании проверки", "Верно", "Неверно".

6. Верхняя панель содержит элементы, при нажатии на которые отображают в главной части соответствующую секцию задачи. Отображают статус задачи в виде цветовой иконки.