Требования к html-theory:

1. Файл html состоит из секций (карта секции и секции уроков) и боковой панели.

2. Секции урока содержат заголовок (ровно 1 заголовок на секцию). Могут содержать параграфы, теоретические блоки (определение/важный момент/подсказка/верный подход/неверный подход) и интерактивные элементы – блоки вопрос-ответ (один верный ответ/несколько верных/поле с вводом), блоки с кодом (только для чтения/песочница). Верные ответы содержатся в открытом виде в html файле.

3. Параграфы могут содержать жирный, курсивный, подчёркнутый текст, inline код.

4. Карта секции состоит из сетки, элементы которой содержат якори на идентификаторы заголовок в секции урока. Максимальное количество элементов сетки – 6.

5. Боковая панель содержит элементы, которые содержат якори на идентификаторы заголовок в секции урока. Элементы дублируют названия заголовков.