Требования к редактору:

1. Бэкенд на C#.

2. Фронтенд на Blazor.

3. Инструмент позволяет строить и редактировать html страницу через WYSIWYG интерфейс.

4. Базовые скрипты и стили подтягивает с github pages (на время разработки файлы локальные).

5. Для отображения и редактирования блоков кода используется monaco-editor (API). Для запуска кода используется Pyodide (API).
